*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(225, 222, 222);
}

input:invalid {
  border: 2px dashed red;
}

input:invalid:required {
  background-image: linear-gradient(to right, pink, lightgreen);
}

input:valid {
  border: 2px solid black;
}

#header {
    padding: 0.5em 2em;
  display: flex;
  justify-content: space-between;
  position: sticky;
  text-align: center;
  
}

#header h1 {
    margin: 0;
    margin-bottom: 2em;
    align-items: flex-start;
}

#header img {
  width: 150px;
  height: 80px;
}

#nav-bar {
    padding-top: 0.5em;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

#nav-bar a {
    text-decoration: none;
    color: rgb(157, 134, 134);
}

#main {
    text-align: center;
}

.benefit {

    padding: 2em 5em;
    display: flex;
    justify-content: center;
    text-align: start;
    
}

.benefit img {
    width: 100px;
    height: 100px;
}

.cards {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card {
    width: 25%;
    margin: 5em 2em;
    border: 1px solid black;
}

.card div {
    padding: 1em 0;
    background-color: rgb(184, 100, 100);
}


button {
    border: none;
    background-color: yellowgreen;
    font-size: 1em;
    padding: 0.5em 2em;
}